<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shower Thoughts Community</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="<%= url('css/bootstrap.min.css') %>" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="<%= url('css/mdb.min.css') %>" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="<%= url('css/style.css') %>" rel="stylesheet">
    <link rel="stylesheet" href="<%= url('css/main.css') %>">
</head>

<body>
    <% if @user %>
     <nav class='navbar'>
          <div class="nav_back"></div>
          <a href="/"><img id="logo_nav" src="<%= url('imgs/nav_logo.png') %>"></a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <form action="/find" class="form-inline">
               <!-- <div class="search_wrapper">
                  <div> -->
                    <input id="nav_search" class="form-control mr-sm-2" type="text" placeholder="Search for User" name="name" aria-label="Search">
                  <!-- </div>
                  <div id="results"></div>
               </div>
 -->            </form>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-user"></i> Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">See Info</a>
                    <a class="dropdown-item" href="/post">Create a New Post</a>
                    <a class="dropdown-item" href="/change_details">Change Details</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
          </ul>
        </nav>
    <% else %>
        <nav class='navbar'>
          <div class="nav_back"></div>
          <a href="/"><img id="logo_nav" src="imgs/nav_logo.png"></a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <form action="/find" class="form-inline">
               <!-- <div class="search_wrapper">
                  <div> -->
                    <input id="nav_search" class="form-control mr-sm-2" type="text" placeholder="Search for User" name="name" aria-label="Search">
                  <!-- </div>
                  <div id="results"></div>
                </div> -->
            </form>
             <li class="nav-item">
              <a class="nav-link active" href="/sign_in">Sign In</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" href="/create_account">Create Account</a>
            </li>
          </ul>
        </nav>
    <% end %>
        
  <div class="wrapper">
    <%= yield %>
    <div class="push"></div>
  </div>
 <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="<%= url('js/jquery-3.2.1.min.js') %>"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="<%= url('js/popper.min.js') %>"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="<%= url('js/bootstrap.min.js') %>"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="<%= url('js/mdb.min.js') %>"></script>
    <script src="<%= url('js/main.js') %>"></script>
</body>

</html>
