<div class="container">
	<div class="row">
		<div class="col">
			<h1><%= @user.name %></h1>
		</div><!-- col -->
	</div>
	<div class="row">
		<div class="col">
			<br>
			<h5>Username: <%= @user.username %></h5>
			<h5>Bio:</h5> 
			<% if @user == @current_user %>
				<% if @user.bio %>
					<p><%= @user.bio %></p>
				<% else %>
						<p>Where's your bio?! Don't you want one?! Click below to edit your bio!</p>
				<% end %>
				<a href="/change_details"><button class="btn btn-info round">Edit Your Info</button></a>
			<% else %>
				<p>No bio to be found</p>
			<% end %>
		</div><!-- col -->
	</div><!-- row -->
	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-6">
				<div class="card card-body post_container">
					<form action="/profile" method="POST">
						<input type="number" hidden="true" name="post_id[id]" value="<%= post.id %>">
				    <textarea class="card-text post" readonly="true" name="post[content]" maxlength='150'><%= post.content %></textarea>
						<% if @user == @current_user %>
								<a class="delete_post card-link" href="/delete_post/<%= post.id %>">Delete</a>
								<i class="fa fa-pencil edit_post card-link" aria-hidden="true"></i>
								<input class="btn btn-elegant round edit_button" type="submit" value="done">
						<% end %>
					</form>
				</div>
			</div>
		<% end %>
	</div>
</div><!-- container -->